body {
    font-family: "lato", sans-serif;
}
.title {
    font-size: 3rem;
    font-family: "cairo", sans-serif;
    font-weight: 500;
    text-align: center;
}
.btn-close {
    color: black;
    font-size: 40px;
    font-weight: 900;
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 0;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 100vh;
}
.label-input {
    position: relative;
    display: block;
}
.input-start-date {
    display: flex;
    justify-content: space-between;
}
.input-end-date {
    display: flex;
    justify-content: space-between;
}
.date {
    display: inline-block;
}
.input-text {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: #eee;
    width: 450px;
    height: 50px;
    margin: 15px 0;
    padding: 10px; 
}
.radio-privacy {
    display: flex;
    justify-content: space-evenly;
    margin: 45px 0;
}
input[type="radio"]
{
    appearance: none;
}
input[type="radio"] + label
{
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    line-height: 20px;
}
input[type="radio"] + label::before
{
    content: "";
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    border: 1px solid #DB93B0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 1;
    transition: all 0.3s;
}
input[type="radio"] + label::after
{
    content: "";
    display: inline-block;
    width: 10px;
    aspect-ratio: 1;
    border: 1px solid #DB93B0;
    background: #DB93B0;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.3s;
}
input[type="radio"]:checked + label::after
{
    opacity: 1;
}
.input-text .textarea {
    font-family: "lato";
    color: black;
}
.textarea {
    max-width: 450px;
    min-width: 450px;
    max-height: 200px;
    min-height: 130px;
}
.text-inside-description {
    font-family: "lato";
    color:blue;
}
.input-text:focus {
    outline-color: #86BBD8;
}

.label {
    pointer-events: none;
    position: absolute;
    top: 50px;
    left: 10px;
    transform: translate(0%,-50%);
    color: #8B8B8B;
    font-size: 20px;
    transition: all 0.2s;
    transform-origin: left;
}

.input-date {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "lato";
}

.input-text/*:not(:placeholder-shown)*/ + .label,
.input-text:focus + .label {
    top: -6px;
    transform: scale(0.75);
}
.input-text:focus + .label {
    color: #86BBD8;
}
.card .btn-save {
    color: #fff;
    background: #f86ba3;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.16);
    transition: all 0.3s ease-in-out;
    margin-bottom: 25px;
    border: none;
    cursor: pointer;
    margin: 25px auto 0 auto;
    padding: 10px 30px;
}
.card .btn-save:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.32);
    background: #f81872;
}

.message-event {
    width: 100%;
    color: #880a3c;
    margin-top: 15px;
    text-align: center;
}

@media screen and (max-width:800px) {
    .title {
        font-size: 48px;
    }
    .input-text {
        font-size: 20px;
        border: none;
        border-radius: 10px;
        background: #eee;
        width: 400px;
        height: 50px;
        margin: 15px 0;
        padding: 10px;
        
    }
    .input-date {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .textarea {
        max-width: 400px;
        min-width: 400px;
        max-height: 200px;
        min-height: 130px;
    }
}
@media screen and (max-width:600px) {
    .title {
        font-size: 32px;
    }
    .input-text {
        font-size: 16px;
        border: none;
        border-radius: 10px;
        background: #eee;
        width: 300px;
        height: 40px;
        margin: 15px 0;
        padding: 10px;
        
    }
    .input-date {
        width: 125px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .textarea {
        max-width: 300px;
        min-width: 300px;
        max-height: 200px;
        min-height: 130px;
    }
    .card .btn-save {
       
        height: 60px;
        width: 250px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    
    }
    .label {
        top: 45px;
        left: 10px;
        
    }
}
@media screen and (max-width:400px) {
    .title {
        font-size: 24px;
    }
   
}